.red, #div2{
    background-color: rgb(250,128,114);
    font-family: verdana, "DejaVu Sans", "sans-serif"
}

div{

    font-size: 24px;
}
#div1{
    font-size: 36px;
    color: blue;
}


#div3{
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;

}